include ./templates/header.jade

h1 Welcome to 
p #{title}

//print out data
h3 #{videodata.categoryName}

//loop trough data, list out

ul
    - videodata.categories.forEach(function(item) {
        li #{item.categoryName}
    - })

ul
    - videodata.categories.forEach(function(item) {
        li 
            a(href= "http://www.thenewboston.com/videos_food.php?cat=#{item.categoryID}") #{item.categoryName}
    - })


- var website = "http:\\www.dinside.no"
a(href="#{website}") website
